body {
    margin:0;padding:0;
    box-sizing: border-box;
}
*{
    font-family: 'Montserrat';
}
a {
    text-decoration: none;
}
.container {
    height: 40px;
    width: 100%;
    background-color: rgb(25,25,25);
    display: grid;
    place-items: center;
    
}
.text{
    width: 1170px;
    height: 39px;
    
}
.nav-left {
    float: left;
    margin-top: 11px;
}
.nav-left-icon {
    align-self: center;
    color: rgb(112,112,112);
    font-size:15px;
    margin-right: 11px;
}
.nav-right {
    float: right;
    margin-top: 10px;
}
.container-right {
    display:inline-block;
}
#verticle {
    display: inline-block;
    border-left: 1px solid rgb(112,112,112);
    height: 20px;
    margin: 0px 10px -5px 11px;
}
.nav-right-icon1 {
    color: rgb(112,112,112);
    margin-right: 2px;
}
.nav-right-icon2{
    color: rgb(112,112,112);
    font-size: 13px;
}
.head {
    color: rgb(112,112,112);
    font-size: 12px;
    font-weight: bold;
}
#banner {
    background-image: url("images/img.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
}
.left-arrow {
    position: absolute;
    top: 372px;
    left: 42px;
    color:white;
    font-size: 26px;
}
.right-arrow {
    position: absolute;
    top: 372px;
    right: 42px;
    color: white;
    font-size: 26px;
}
.text1{
    width: 1170px; 
    height: 800px;
}
.banner-top {
    margin-top: 19px;
}
#top-left {
    float: left;
    color: white;
    font-size: 23px;
    font-weight:700;
    letter-spacing: 2px;
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.right {
    float: right;
}
#top-right-icon1 {
    color: white;
    font-size: 17px;
    margin: 5px 12px 0px 8px;
}
#top-right-icon2 {
    color: white;
    font-size: 20px;
    margin: 5px 8px 0px 8px;
}
#top-right-icon3 {
    color: white;
    font-size: 17px;
    margin: 5px 15px 0px 12px;
}
.verticle2 {
    display: inline-block;
    border-left: 1px solid rgb(112,112,112) ;
    height: 30px;
    margin-bottom: -9px;
    
}
#middle {
    display: inline-block;
    margin-top: 5px;
}
.li {
    display: inline;
    margin-left: 24px;
    color: white;
    font-size: 13px;
}
.nav {
    font-weight: 620;
    letter-spacing: 1px;
}
.drop {
    
    margin-left: 7px;
}
#horizontal {
    margin-left: 109px;
    padding-left: 13px;
    border-bottom: 4px solid rgb(255, 64, 129);
    padding-bottom: 23px;
}
.banner-center {
    width: 1170px;
    margin-top: 238px;
    color: white;
    text-align: center;

}
.inspiration {
    color: rgb(182, 182, 182);
    font-size:21px;
    margin:0px 0px 8px 3px;
    font-weight: 500;
}
.big1 {
    font-size: 42px;
    font-weight: 900;
    margin-top: 13px;
    margin-left:10px;
    margin-bottom: 0px;
    letter-spacing: 0.8;
}
.big2 {
    font-size: 42px;
    font-weight: 900;
    margin-top: 0px;
    margin-left: 10px;
    letter-spacing: 0.8;
    
}
.read-more {
    background-color: rgb(48, 63, 159);
    border-style: none;
    padding: 12px 27px;
    font-size: 17px;
    color: #ffffff;
    border-radius: 25px;
    margin-top: 30px;
    letter-spacing: 0.8px;
}
.banner-bottom {
    margin-top: 79px;
    color: white;
    text-align: center;
}
#henry {
    margin-top: 17px;
    margin-right: 0px;
    font-size: 14px;
    color: white;
    font-weight: 700; 
    letter-spacing:0.7px;
}
.henry-dt {
    font-size: 12px;
    color: rgb(190,190,190);
    letter-spacing:0.7px;
    font-weight:500;
    margin-top: 8px;
}
.henry-date{
    margin-left: 3px;
}
.henry-time{
    margin-left: 7px;
}
.comment{
    display: inline-block;
    font-size: 12px;
    color: rgb(190,190,190);
    letter-spacing:0.5px;
    font-weight:500;
    margin-top: 33px;
    margin-right: 25px;
    margin-left:-6px;
}
.comment-icon {
    margin-left:4px;
    font-size: 17px;
    margin-right:3px;
    vertical-align: sub;
}
.like {
    display: inline-block;
    font-size: 12px;
    color: rgb(190,190,190);
    letter-spacing:0.5px;
    font-weight:500;
    margin-right:5px;
    
}
.like-icon {
    font-size: 14px;
}
.sort-bar {
    width:100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    border-bottom: 1px solid rgb(221, 221, 221);
    
}
.sort-bar-center {
    width: 1170px;
    height: 60px;
    background-color: rgb(255, 255, 255);    
}
.sort{
    display:inline-block;
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-left: -1px;
}
.filter-list{
    display: inline-block;
    list-style-type: none;
    margin: 15px 0px 0px 0px;
    padding: 0;
}
.filter-list li {
    display:inline-block;
}
.filter{
    display: inline-block;
    margin-left: 11px;
    color: black;
    font-size: 12px;
    background-color: rgb(245,245,245);
    padding: 8px 25px 8px 29px;
    border-radius: 25px;
    font-weight: 600;
    letter-spacing: -0.2px;
}
.active{
    display: inline-block;
    margin-left: 16px;
    color: rgb(63,81,181);
    border: 1px solid rgb(63,81,181);
    background-color: white;
    font-size: 12px;
    border-radius: 25px;
    padding: 6px 28px 6px 26px;
    font-weight: 600;
}
.main-body {
    width:100%;
    height: 2337px;
    background-color: rgb(245,245,245);
    display: grid;
    place-items: center;
}
.text2 {
    width: 1171px;
    height: 2307px;
    margin-top: 30px;
}
.main-left {
    width: 822px;
    height: 100%;
    float: left;
}
.main-right {
    width: 310px;
    height: 100%;
    float: right;
    background-color: white;
}
.card1 {
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
.card1-image{
    background-image: url("images/img7.jpg");
    background-position: center;
    background-size:cover;
    height: 420px;
    overflow: auto;
    position:relative;
}
.play-button{
    position: absolute;
    top: 185px;
    left: 387px;
}
.lifestyle-left {
    position: absolute;
    top: 390px;
    left: 19px;
    color: white;
    font-size:12px;
    font-weight: 500;
}
.lifestyle-right {
    position: absolute;
    right: 20px;
    top: 387px;
    font-size: 13px;
}
.lifestyle-right-comment {
    display: inline-block;
    color: white;
}
.comment-icon1{
    font-size: 17px;
    vertical-align:sub;
    margin-right:2px;
}
.lifestyle-right-like {
    display: inline-block;
    color:white;
}
.like-icon1{
    margin-left:18px;
    margin-right:2px;
    font-size: 15px;
}
.things10 {
    height:93px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.things101{
    margin: 15px 0px 0px 20px;
    color: black;
    font-size:18px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.things102 {
    margin:6px 0px 0px 20px;
    color: black;
    font-family: 'Open Sans';
    font-size:16px;
    line-height: 1.6;
    letter-spacing: 0.6px;
}
.author {
    display: flex;
}
.author-photo {
    margin: 20px 11px 21px 20px;
    background-image: url('images/img4.png');
    width: 50px;
    height: 50px;
}
.author-text{
    margin-top: 25px;
}
.author-text-name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing:0.4px;
    color:black;
}
.author-text-dt {
    font-size: 12px;
    color: rgb(170,170,170);
    letter-spacing:0.5px;
    font-weight: 600;
}
.menu-3dots {
    margin: auto 21px auto auto;
    font-size: 20px;
    color: black;
}
.card2 {
    margin-top: 21px;
    margin-left: 1px;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}
.card2-image {
    background-image: url("images/img5.jpg");
    width: 260px;
    position: relative;
}
.card2-play-button {
    position: absolute;
    top: 64px;
    left: 110px;
}
.card2-inspiration-left{
    position: absolute;
    top: 134px;
    left: 18px;
    color: white;
    font-size:12px;

}
.card2-inspiration-right{
    position: absolute;
    right: 20px;
    top: 133px;
    color: white;
    font-size: 13px;
}
.comment-icon2 {
    font-size: 16px;
    vertical-align:bottom;
    margin-right:3px;
}
.like-icon2 {
    margin-left:17px;
    font-size: 14px;
    margin-right:3px;
}
.card2-content {
    width: 560px;
    background-color: white;
}
.card2-text {
    border-bottom: 1px solid rgb(221,221,221);
    padding-bottom: 14px;
}
.card2-text1{
    margin: 10px 0px 0px 18px;
    color: black;
    font-size:16px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.card2-text2{
    margin:8px 0px 0px 18px;
    color: black;
    font-family: 'Open Sans';
    font-size:14px;
    line-height: 1.5;
    letter-spacing: 0.6px;
}
.card2-author {
    display: flex;
}
.card2-author-photo {
    margin: 11px 10px 10px 21px;
    background-image: url('images/img20.png');
    background-position: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
.card2-author-text {
    margin-top: 16px;
}
.card3 {
    margin-top: 21px;
    margin-left: 1px;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    border-radius:5px;
}
.card3-image {
    background-image: url("images/img6.jpg");
    background-position: center;
    background-size: cover;
    width: 260px;
    position: relative;
}
.card3-author-photo {
    margin: 11px 10px 10px 21px;
    background-image: url('images/img19.png');
    background-position: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
.card4 {
    margin-top: 20px;
    margin-left: 1px;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}
.card4-image {
    background-image: url("images/img8.jpg");
    height: 165px;
    width: 260px;
    position: relative;
}
.card4-text1{
    margin: 9px 0px 0px 18px;
    color: black;
    font-size:16px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.card4-author-photo {
    margin: 11px 10px 10px 21px;
    background-image: url('images/img4.png');
    background-position: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
.card567 {
    margin-top:21px;
    margin-left: 1px;
    display:flex;
    flex-direction: row;
}
.card5 {
    width: 260px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    margin-right:20px;
}
.card5-image {
    background-image: url("images/img3.jpg");
    width: 260px;
    height: 160px;
    overflow: auto;
    position: relative;
}
.card5-play-button{
    position: absolute;
    top: 60px;
    left: 110px;
}
.card5-text {
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(221,221,221);
}
.card5-text1 {
    margin: 11px 0px 0px 19px;
    color: black;
    font-size:14px;
    font-weight: 800;
    letter-spacing: 0.3px;
    line-height: 1.7;
}
.card5-text2 {
    margin:8px 0px 0px 19px;
    color: black;
    font-family: 'Open Sans';
    font-size:14px;
    line-height: 1.5;
    letter-spacing: 0.6px;
}
.card5-author-photo {
    margin: 15px 9px 20px 20px;
    background-image: url('images/img20.png');
    background-position: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
.card5-author-text {
    margin-top: 20px;
}
.card6{
    width: 260px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    margin-right: 20px;
}
.card6-image {
    background-image: url("images/img9.jpg");
    width: 260px;
    height: 160px;
    overflow: auto;
    position: relative;
}
.card6-author-photo {
    margin: 15px 9px 20px 20px;
    background-image: url('images/img19.png');
    background-position: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
.card7 {
    width: 260px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    margin-right: 20px;
}
.card7-image {
    background-image: url("images/img10.jpg");
    width: 260px;
    height: 160px;
    overflow: auto;
    position: relative;
}
.card7-arrow-left {
    background-image: url("images/img11.jpg");
    height: 36px;
    width:36px;
    margin-top: 59px;
    float: left;
    margin-left:10px;
}
.card7-arrow-right {
    background-image: url("images/img13.jpg");
    height: 36px;
    width:36px;
    margin-top:59px;
    float: right;
    margin-right:10px;
    
}
.card7-lifestyle {
    width: 100%;
    margin-top: 135px;
}
.card7-like-icon {
    margin-left:10px;
    font-size: 14px;
    margin-right:3px;
}
.card7-author-photo {
    margin: 15px 9px 20px 20px;
    background-image: url('images/img4.png');
    background-position: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
.card89 {
    margin-top:21px;
    margin-left: 1px;
    display:flex;
    flex-direction: row;
}
.card8 {
    width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    margin-right:20px;
}
.card8-image {
    background-image: url("images/img12.jpg");
    width: 400px;
    height: 300px;
    overflow: auto;
    position: relative;
}
.card8-inspiration-left {
    position: absolute;
    top: 268px;
    left: 18px;
    color: white;
    font-size:12px;

}
.card8-inspiration-right {
    position: absolute;
    right: 21px;
    top: 266px;
    color: white;
    font-size: 13px;
}
.card8-text {
    padding-bottom:15px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.card8-text1{
    margin: 14px 0px 0px 20px;
    color: black;
    font-size:18px;
    font-weight: 700;
    letter-spacing: 0.6px;
}
.card8-text2 {
    margin:6px 0px 0px 19px;
    color: black;
    font-family: 'Open Sans';
    font-size:16px;
    line-height: 1.6;
    letter-spacing: 0.6px;
}
.card8-author {
    display: flex;
    height: 80px;
}
.card8-author-photo {
    margin: 15px 9px 15px 19px;
    background-image: url('images/img20.png');
    background-position: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
.card9 {
    width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
.card9-image {
    background-image: url("images/img14.jpg");
    width: 400px;
    height: 300px;
    overflow: auto;
    position: relative;
}
.card9-text1 {
    margin: 14px 0px 0px 20px;
    color: rgb(63,81,181);
    font-size:18px;
    font-weight: 700;
    letter-spacing: 0.6px;
}
.card9-author-photo{
    margin: 15px 9px 15px 19px;
    background-image: url('images/img19.png');
    background-position: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
.show-more {
    float: right;
    margin-top:42px;
}
.more {
    display: inline-block;
    color: rgb(48,63,159);
    font-size: 16px;
    font-weight: 600;
    margin-right:6px;
}
.more-arrow {
    background-color: white;
    color: rgb(63,81,181);
    margin-right:1px;
    padding: 11px 12px;
    border-radius: 25px;
    font-size: 20px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
.search-container{
    margin: 24px 0px 0px 42px;
    height: 33px;
    border-radius: 30px;
    padding: 5px 0px 4px 8px;
    background-color: rgb(245,245,245);
    display: flex;
    justify-content: right;
    width: 260px;
}
.search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 212px;
    font-weight: 400;
    font-size: 17px;
    font-family: 'Open Sans';
}
.search-btn {
    background-color: #ff4081;
    padding: 9px;
    font-size:16px;
    border-radius: 30px;
    color: white;
    margin-right: 4px;
}
.categories-list {
    margin: 27px 0px 0px 39px;
    font-size: 18px;
    font-weight: 800;
    color: rgb(63,81,181);
    letter-spacing: 0.5px;
}
.categories-list hr{
    border: 0.5px solid rgb(174, 195, 255);
    margin: 6px 0px 0px 0px;
}
.categories-list table {
    border-collapse: collapse;
    width: 273px;
    margin-top: 3px;
}
.categories-list table tr{
    border-bottom: 1.5px solid #ebeae9;
}
.categories-list table tr.last{
    border-bottom: none;
}
.cat-name {
    float: left;
    font-family: 'Open Sans';
    font-size:14;
    color: black;
    padding: 9px 0px 10px 0px;
    font-weight: 600;
}
.cat-no {
    float: right;
    font-family: 'Open Sans';
    font-size:14;
    font-weight: 800;
    color: black;
    padding: 9px 0px 10px 0px; 
}
.subscribe {
    margin: 30px 0px 0px 41px;
    font-size: 18px;
    font-weight: 800;
    color: rgb(63,81,181);
    letter-spacing: 0.5px;
}
.subscribe hr {
    border-top: 0.5px solid rgb(174, 195, 255);
    margin: 6px 0px -3px 0px;
}
.subscribe-name {
    font-size:16px;
    font-weight: 600;
    font-family: 'Open Sans';
    color:black;
    margin: 12px 0px 11px -1px;
}
.subscribe-input{
    width: 270px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Open Sans';
    padding:10px 0px 11px 15px;
    color: rgb(182, 182, 182);
    border:none;
    border: 1px solid rgb(224,224,224);
    border-radius: 5px;
    letter-spacing: 0.5px;
}
.subscribe-btn {
    width: 270px;
    background-color:rgb(63,81,181);
    color:white;
    margin-top:10px;
    padding: 12px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.subscribe .or {
    width: 270px;
    text-align: center; 
    border-bottom: 2px solid rgb(117, 117, 117); 
    line-height: 0;
    margin: 23px 0 20px;
}
.subscribe .or span {
    background:#fff; 
    padding:0 7px; 
    font-size: 17px;
    color: black;
    font-family: 'Open Sans';
    font-weight: 400;
}
.subscribe-icons {
    margin-top:27px;
    margin-left:1px;
}
.subscribe-icons i {
    color: white;
    font-size:16px;
    border-radius: 25px;
}
.subscribe-icons .f{
    padding: 10px 13px;
    background-color: #3b5999;
}
.subscribe-icons .tw {
    padding: 10px 10px;
    background-color: #55acee;
    margin-left: 4px;
}
.subscribe-icons .vk {
    padding: 10px 11px;
    background-color: #4c75a3;
    margin-left: 4px;
}
.subscribe-icons .p{
    padding: 10px 12px;
    background-color: #ff2e56;
    margin-left: 4px;
}
.subscribe-icons .t{
    padding: 10px 13px;
    background-color: #34465d;
    margin-left: 4px;
}
.subscribe-icons .d{
    padding: 10px 9px;
    background-color: #ea4c89;
    margin-left: 4px;
}
.tabpost {
    margin: 40px 0px 0px 41px;
    font-size: 18px;
    font-weight: 800;
    color: rgb(63,81,181);
}
.tabpost hr{
    border-top: 0.5px solid rgb(174, 195, 255);
    margin: 6px 0px -3px 0px;
}