body {
    margin:0;padding:0;
    box-sizing: border-box;
}
.container {
    height: 40px;
    width: 100%;
    background-color: rgb(25,25,25);
    display: grid;
    place-items: center;
    
}
.text{
    width: 1170px;
    height: 39px;
    
}
.nav-left {
    float: left;
    margin-top: 11px;
}
.nav-left-icon {
    align-self: center;
    color: rgb(112,112,112);
    font-size:15px;
    margin-right: 11px;
}
.nav-right {
    float: right;
    margin-top: 10px;
}
#verticle {
    display: inline-block;
    border-left: 1px solid rgb(112,112,112);
    height: 20px;
    margin: 1px 10px -5px 12px;
}
.nav-right-icon1 {
    color: rgb(112,112,112);
    margin-right: 3px;
}
.nav-right-icon2{
    color: rgb(112,112,112);
    font-size: 13px;
}
.head {
    color: rgb(112,112,112);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
}
#banner {
    width:100%;
    background-image: url("img.jpg");
    background-position: center;
    background-size: cover;
    z-index:-1;
    height: 799px;
    display: grid;
    place-items: center;
}
.left-arrow {
    position: absolute;
    top: 372px;
    left: 42px;
    color:white;
    font-size: 26px;
}
.right-arrow {
    position: absolute;
    top: 372px;
    right: 42px;
    color: white;
    font-size: 26px;
}
.text1{
    width: 1170px; 
    height: 799px;
}
.banner-top {
    margin-top: 20px;
}
#top-left {
    display: inline-block;
    float: left;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.right {
    float: right;
}
#top-right-icon1 {
    color: white;
    font-size: 17px;
    margin: 5px 12px 0px 8px;
}
#top-right-icon2 {
    color: white;
    font-size: 20px;
    margin: 5px 9px 0px 8px;
}
#top-right-icon3 {
    color: white;
    font-size: 17px;
    margin: 5px 15px 0px 12px;
}
/*
*/
.verticle2 {
    display: inline-block;
    border-left: 1px solid rgb(112,112,112) ;
    height: 31px;
    margin-bottom: -8px;
    
}
#middle {
    display: inline-block;
    margin-top: 6px;
    float: center;
}
.li {
    display: inline;
    margin-left: 22px;
    color: white;
    font-size: 14px;
}
.nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 620;
    letter-spacing: 1px;
}
.drop {
    
    margin-left: 6px;
}
#horizontal {
    display: inline;
    margin-left: 109px;
    padding-left: 14px;
    border-bottom: 4px solid rgb(255, 64, 129);
    padding-bottom: 22px;
}
.banner-center {
    width: 1170px;
    margin-top: 239px;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;

}
.inspiration {
    color: rgb(182, 182, 182);
    font-size:20px;
    margin-bottom: 8px;
    letter-spacing: 1px;
}
.big1 {
    font-size: 42px;
    font-weight: 900;
    margin-top: 5px;
    margin-left:11px;
    margin-bottom: -10px;
}
.big2 {
    font-size: 42px;
    font-weight: 900;
    margin-top: 2px;
    margin-left: 4px;
    word-spacing: -5px;
}
.read-more {
    background-color: rgb(48, 63, 159);
    border-style: none;
    padding: 12px 27px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 25px;
    margin-top: 28px;
    letter-spacing: 1px;
}
.banner-bottom {
    margin-top: 78px;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
#henry {
    margin-top: 18px;
    margin-right: 2px;
    font-size: 14px;
    font-family:'Montserrat', sans-serif;
    color: white;
    font-weight: 700; 
    letter-spacing:1px;
    font-stretch: expanded;
}
.date{
    font-size: 12px;
    font-family:'Montserrat', sans-serif;
    color: rgb(190,190,190);
    letter-spacing:1px;
    font-weight:550;
    margin-top: 9px;
    margin-left: 4px;
}/*margin-right: 2px; margin-left:10px;
margin-right: 3px;*/
.comment{
    display: inline-block;
    font-size: 12px;
    font-family:'Montserrat', sans-serif;
    color: rgb(190,190,190);
    letter-spacing:1px;
    font-weight:550;
    margin-top: 31px;
    margin-right: 27px;
}
.comment-icon {
    margin-left:4px;
    font-size: 16px;
    margin-right:3px;
}
.like {
    display: inline-block;
    font-size: 12px;
    font-family:'Montserrat', sans-serif;
    color: rgb(190,190,190);
    letter-spacing:1px;
    font-weight:550;
    margin-top: 31px;
    margin-right:8px;
    
}
.like-icon {
    font-size: 14px;
}

/*font-size: 16px;margin-right: 3px; color: rgb(190,190,190);*/

/*
.sort-bar {
    position: absolute;
    top: 839px;
    width:100%;
    height: 60px;
    background-color: rgb(116, 15, 15);
    display: grid;
    place-items: center;
    
}
.sort-bar-center {
    width: 1170px;
    height: 60px;
    background-color: rgb(222, 109, 109);
    
}
*/
